name: CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  ci:
    uses: vindicta-platform/.github/.github/workflows/ci-precommit-template.yml@main
    permissions:
      contents: read
      pull-requests: write
